$white: #FFFFFF;
$blue : #54b3a1;
$orange : #F34213 ;
$orange-hover : #D94016 ;
$black : #333333;
$linear-black: #000000CC; 
$linear-white:  #00000000;
$background-all-black: #0D0D0D 0% 0% no-repeat padding-box;
$background-footer : #000000 0% 0% no-repeat padding-box;
$gray: #ABABAB;
$background-black-icon: #000000 0% 0% no-repeat padding-box;
$links:#F5F5F5;
$blue-accapt: #54B3A1 ;
$blue-accapt-hover: #48998A;
$background-btn-cookie-hover :  #333333 0% 0% no-repeat padding-box;
$btn-card-group : #EAEAEA;